# === Qt/C++ build files ===
*.pro.user
*.pro.user.*
*.o
*.obj
*.pdb
*.dylib
*.app
qrc_*
moc_*
ui_*
build-*
Makefile

# === Project related directories ===
/build

# === Python related directories ===
**/.venv/